<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            findBooks();
        });
        
        function findBooks() {
            $.ajax("/findBooks",{
               dataType: "json",
               type: "post",
               contentType: "application/json",
               data: JSON.stringify({}),
               async: true,
               success: function (data) {
                   console.log(data);
                   $.each(data, function () {
                      var tr = $("<tr align='center'>");
                        $("<td/>").html(this.image).appendTo(tr);
                        $("<td/>").html(this.name).appendTo(tr);
                        $("<td/>").html(this.author).appendTo(tr);
                        $("#booktable").append(tr);
                   });
               }
            });
        }
    </script>
</head>
<body>
    <table id="booktable">
        <thead>
            <tr>
                <th>cover</th>
                <th>title</th>
                <th>author</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>