<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.css}" />
    <script type="text/javascript" th:src="@{js/jQuery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstap.js}"></script>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">图书信息列表</h3>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <h3 class="panel-title">图书信息列表</h3>
        </div>
        <div class="panel-body">
            <div class="table table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th class="text-center">Cover</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Author</th>
                        <th class="text-center">Price</th>

                    </thead>
                    <tbody class="text-center">
                        <tr th:each="book : ${books}">
                            <td th:text="${book.image}"></td>
                            <td th:text="${book.title}"></td>
                            <td th:text="${book.author}"></td>
                            <td th:text="${book.price}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>