<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.css}" />
    <script type="text/javascript" th:src="@{js/jQuery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstap.js}"></script>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thymeleaf</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><font color="red">${param.x}将返回一个名为x的请求参数</font> </p><br />
                访问页面传递的参数:<span th:text="${param.loginName[0]}">登录名</span>
                <span th:text="${param.password[0]}">密码</span>
                <br /><br />

                <p><font color="red">${x}将返回储存在Thymeleaf上下文中的变量x或作为请求request作用范围域中的属性</font></p><br />
                访问request作用范围域中的变量:<span th:text="${book}">图书信息</span><br/>
                访问session作用范围域中的变量:<span th:text="${session.school}">学校信息</span><br/><br />

                <p><font color="red">${application.x}将访问一个名为x的全局ServletContext上下文作用范围中的属性:</font> </p><br />
                访问application作用范围域中的变量:<span th:text="${application.name}">动态页面模板</span>
            </div>
        </div>
    </div>
</body>
</html>